@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
    * {
        @apply transition-colors duration-600 ease-in-out;
    }
}

@theme {
    --font-sourgummy: "Sour Gummy", sans-serif;
    --color-green-project: oklch(0.5229 0.152986 147.5892);
    --bg-green-project: oklch(0.5229 0.152986 147.5892);
    --color-green-light-project: oklch(0.627 0.194 149.21);
}

/* style for table header */
.ant-table-thead > tr > th {
    background-color: #d1d5db !important; /* bg-gray-300 */
}

/* table header color in dark mode */
.dark .ant-table-thead > tr > th {
    background-color: #9ca3af !important; /* bg-gray-400 */
}

/* style for sorted cells (background and text) is inherited */
.ant-table-column-sort {
    background-color: transparent !important;
    color: inherit !important;
}

.ant-drawer-header {
    background-color: #bbf7d0;
}

.ant-drawer-body {
    background-color: #dcfce7;
}

.ant-drawer-body * {
    color: #111827;
}

.dark .ant-drawer-header {
    background-color: #111827 !important; /* Tailwind: gray-900 */
    color: #f9fafb;
}

.dark .ant-drawer-body {
    background-color: #1f2937 !important; /* Tailwind: gray-800 */
}

.dark .ant-drawer-body * {
    color: #f9fafb !important; /* Tailwind: gray-50 (prawie biel) */
}

.dark .ant-drawer-close {
    color: #f9fafb !important;
}

.dark .ant-result-title, .dark .ant-result-subtitle {
    color: #f9fafb !important;
}

.ant-select-selection-placeholder {
    color: #111827 !important;
}

.ant-input::placeholder {
    color: #000000;
}

.dark .ant-pagination-item-link {
    color: #f9fafb !important;
}

.ant-btn-primary, .ant-btn-primary:hover {
    background-color: var(--color-green-project);
    &:hover {
        background-color: var(--color-green-light-project) !important;
        scale:1.05;
        transition:all;
        transition-duration: 300ms;
    }
    &:active {
        scale:0.95;
    }
}

.dark .ant-card-body {
    background-color: #99a1af;
}

.dark .ant-input {
    background-color: #dbe6f4;
}
